<?xml version="1.0"?>
<launch>
    <!--paramètres de lancement -->
    <!-- le dossier contenant les maps se trouvent dans ros_ws/src/map, configurable dans le fichier load_map.launch-->
    <arg name="map"         default="map_M05"/> 


    <!-- charger la map 
    <include file="$(find hiwonder_navigation)/launch/include/load_map.launch">
        <arg name="map"         value="$(arg map)"/>
    </include>-->


    <!-- démarrer le paquet de l'algo amcl (renvoie la position du robot par rapport à la map)-->
    <include file="$(find hiwonder_navigation)/launch/include/amcl.launch">
        <arg name="drive_type"      value="omni"/> <!-- parametre pour utiliser les roues omnidirectionelles-->
        <arg name="scan_topic"      value="scan"/> 
        <arg name="use_map_topic"   value="true"/>
        <arg name="map_topic"       value="map"/>
        <arg name="map_frame_id"    value="map"/>
        <arg name="odom_frame_id"   value="odom"/>
        <arg name="base_frame_id"   value="base_footprint"/>
        <arg name="initial_pose_x"  value="0.0"/>
        <arg name="initial_pose_y"  value="0.0"/>
        <arg name="initial_pose_a"  value="0.0"/>
    </include>

    


</launch>
