<?xml version="1.0" encoding="utf-8"?>
<robot name="hiwonder" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="lidar"        value="$(env LIDAR_TYPE)"/>
    <xacro:property name="machine"      value="$(env MACHINE_TYPE)"/>

    <xacro:include filename="$(find esme_description)/urdf/materials.xacro"/>
    <xacro:include filename="$(find esme_description)/urdf/inertial_matrix.xacro" />

        <xacro:include filename="$(find esme_description)/urdf/lidar_a1.urdf.xacro"/>

        <xacro:include filename="$(find esme_description)/urdf/car_mecanum.urdf.xacro"/>
        <xacro:include filename="$(find esme_description)/urdf/lidar.urdf.xacro"/>


    <xacro:include filename="$(find esme_description)/urdf/imu.urdf.xacro"/>
    <xacro:include filename="$(find esme_description)/urdf/depth_camera.urdf.xacro"/>
    <xacro:include filename="$(find esme_description)/urdf/common.urdf.xacro"/>
    <xacro:include filename="$(find esme_description)/urdf/connect.urdf.xacro"/>
    <xacro:include filename="$(find esme_description)/urdf/arm.urdf.xacro"/>
    <xacro:include filename="$(find esme_description)/urdf/arm.transmission.xacro"/>
    <xacro:include filename="$(find esme_description)/urdf/gripper.urdf.xacro"/>
    <xacro:include filename="$(find esme_description)/urdf/gripper.transmission.xacro"/>
</robot>
